.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.para {
  font-size: large;
  margin-bottom: 20px;
}
.para p {
  margin: 4px;
}
input {
  font-size: 2rem;
  width: 15rem;
  padding: 2px 2px;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid black;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}
button {
  padding: 7px 7px;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.display {
  margin: 8px;
}
.display p {
  margin: 4px;
}
